body {
    font-size: 16px;
    color: #000;
    background-color: #edf4f2;
    font-family: 'Oxygen', sans-serif;
}

/* HEADER */
#header-nav {
    background-color: #79d70f;
    border-radius: 0;
    border: 0;
}
.navbar-brand h1 {
    color: #d32626;
    font-size: 1.5em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}
#nav-list a {
    color: #951c49;
    text-align: center;
    background-color: #f5a31a;
}
#nav-list a:hover {
    background: #edf4f2;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
    border: 1px solid #d32626
}
.navbar-header button.navbar-toggle {
    background: #f5a31a;
}
/* END HEADER */

/* Home page */
.row {
    margin: 10px;
}
.home-item-tile {
    height: 1000px;
    width: 100%;
    background-color: #d32626;
    margin-bottom: 50px ;
}
/* End Home page */